* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#container {
    width: fit-content;
    margin: auto;
}

.gridRow {
    display: flex;
}

.cell {
    flex: 0 0 auto;
    border: 1px solid black;
}

.buttons {
    width: fit-content;
    margin: 20px auto;
}

#Reset {
    margin-left: 10px;
}